body {
  background-color: #fafafa;
}

.create-page-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.div-left {
  grid-column: 1;
  grid-row: 1;
  min-height: 97vh;
  min-width: 60vw;
  display: flex;
  flex-direction: column;
  border-radius: 0.5em;
  box-shadow: 3px 4px 2px rgb(200 200 200);
}

.div-right {
  grid-column: 2;
  grid-row: 1;
  min-height: 97vh;
  display: flex;
  margin-left: 5px;
  flex-direction: column;
  box-shadow: 3px 4px 2px rgb(200 200 200);
  border-radius: 0.5em;
}

.created-lessons-header {
    height: 100px;
    line-height:1;
    padding-left:10px;
}

.course-lessons-list {
  display: flex;
  flex-direction: row;
  min-height: 55vh;
  box-shadow: 3px 4px 2px rgb(200 200 200);
  border-radius: 0.5em;
  margin-top: 10px;
  margin-right: 10px;
}