.save-button-container {
    display: flex;
    justify-content: left;
}

.save-course-button {
  border: none;
  cursor: pointer;
  border-radius: 0.5em;
  font-size: 23px;
  box-shadow: 1px 1px rgb(200 200 200);
  margin-bottom: 10px;
}

.save-button-container {
  margin-top: auto;
  justify-content: center;
  padding-right: 20px;
}